.navbar {
    background-color: #344D67;
}
/*#26867d*/
body {
    background-color: #989898;
} 
.contact {
    background-color: #50577A; 
}
/* .about-us {
    background-color: #6B728E;
} */
/*.card-body {
    background-color: #A77979;
} */